body {
    overflow-y: hidden;
    cursor: default;
    height: 100vh;
}

.slides {
    height: 100vh;
    width: 100vw;
}

.background-img img {
    display: block;
    height: 100vh;
}

.flexslider .slides>li {
    display: block !important;
}

.mainlogo {
    width: 520px !important;
    animation: grow 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -webkit-animation: grow 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -moz-animation: grow 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -ms-animation: grow 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -o-animation: grow 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
}

@keyframes grow {
    0% {
        transform: scale(0.7, 0.7);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
}

.fadein {
    text-align: center;
    opacity: 1;
    animation: fadedown 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -webkit-animation: fadedown 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -moz-animation: fadedown 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -ms-animation: fadedown 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
    -o-animation: fadedown 1s ease 0s normal forwards, hide 1500ms ease 2300ms forwards;
}

@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translate(0, -100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

.zoomed {
    animation: bggrow 4.5s ease 0s normal forwards;
    -webkit-animation: bggrow 4.5s ease 0s normal forwards;
    -moz-animation: bggrow 4.5s ease 0s normal forwards;
    -ms-animation: bggrow 4.5s ease 0s normal forwards;
    -o-animation: bggrow 4.5s ease 0s normal forwards;
}

@keyframes bggrow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1.07, 1.07);
    }
}

.slides li {
    overflow: hidden;
}

.landing {
    top: 0;
    height: 100vh;
    animation: slideout 1600ms ease-out 2500ms forwards;
    overflow: hidden;
}

@keyframes slideout {
    0% {
        height: 100vh;
    }

    100% {
        height: 0vh;
    }
}

.slidein {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 100vh;
    animation: slideinfirst 1600ms cubic-bezier(0.215, 0.610, 0.355, 1) 2500ms forwards;
    background: #13181d url("../img/noiseoverlay.png");
}

@keyframes slideinfirst {
    0% {
        top: 100vh;
    }

    100% {
        top: 0;
    }
}

.logo img {
    width: 70px;
    margin: 0;
    margin-top: 18px;
}

@media screen and (max-width: 762px) {
    .logo img {
        margin-top: 0;
    }
}

.go-down i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    color: #ffffff;
    font-size: 4rem;
    animation: bounce 1s ease both infinite;
}

@keyframes bounce {
    0% {
        margin-top: 20px;
    }

    50% {
        margin-top: 30px;
    }

    100% {
        margin-top: 20px;
    }
}

.section-2 {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.section-2 .srv {
    text-align: right;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    margin-right: 0px;
    overflow: hidden;
    width: 0px;
}

.srvsingleline {
    width: 400px;
}

.section-2 .active .srv {
    animation: srv 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes srv {
    0% {
        width: 0;
        margin-right: 0;
    }

    100% {
        width: 400px;
        margin-right: 20px;
    }
}

.section-2 .srvicon {
    text-align: left;
    font-size: 160px;
    line-height: 1;
    margin: 0;
    margin-left: 0px;
    overflow: hidden;
    width: 0px;
}

.section-2 .active .srvicon {
    animation: srvicon 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes srvicon {
    0% {
        width: 0;
        margin-left: 0;
    }

    100% {
        width: 160px;
        margin-left: 30px;
    }
}

.section-2 .dsc {
    text-align: left;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    margin-left: 0px;
    overflow: hidden;
    width: 0;
}

.section-2 .active .dsc {
    animation: dsc 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes dsc {
    0% {
        width: 0;
        margin-left: 0;
    }

    100% {
        width: 427px;
        margin-left: 20px;
    }
}

.section-2 .dscicon {
    text-align: right;
    font-size: 160px;
    line-height: 1;
    margin: 0;
    margin-right: 0px;
    overflow: hidden;
    width: 0;
    font-family: "Font Awesome 5 Free" !important;
}

.section-2 .active .dscicon {
    animation: dscicon 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes dscicon {
    0% {
        width: 0;
        margin-right: 0;
    }

    100% {
        width: 140px;
        margin-right: 30px;
    }
}

.section-2 .frm {
    text-align: right;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    width: 0;
}

.frmsingleline {
    width: 456px;
}

.section-2 .active .frm {
    animation: frm 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes frm {
    0% {
        width: 0;
        margin-right: 0;
    }

    100% {
        width: 456px;
        margin-right: 20px;
    }
}

.section-2 .frmicon {
    text-align: left;
    font-size: 160px;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    width: 0;
}

.section-2 .active .frmicon {
    animation: frmicon 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes frmicon {
    0% {
        width: 0;
        margin-left: 0;
    }

    100% {
        width: 180px;
        margin-left: 30px;
    }
}

.section-2 .blg {
    text-align: left;
    font-size: 80px;
    line-height: 1;
    margin: 0;
    margin-left: 0px;
    overflow: hidden;
    width: 0;
}

.section-2 .active .blg {
    animation: blg 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes blg {
    0% {
        width: 0;
        margin-left: 0;
    }

    100% {
        width: 406px;
        margin-left: 20px;
    }
}

.section-2 .blgicon {
    text-align: right;
    font-size: 160px;
    line-height: 1;
    margin: 0;
    margin-right: 0px;
    overflow: hidden;
    width: 0;
}

.section-2 .active .blgicon {
    animation: blgicon 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms forwards;
}

@keyframes blgicon {
    0% {
        width: 0;
        margin-right: 0;
    }

    100% {
        width: 162px;
        margin-right: 30px;
    }
}

.fa-discord:before {
    content: "\f392" !important;
}

.vertical-line {
    height: 0px;
    width: 1px;
    background: #ffffff;
}

.feature-description.active .vertical-line {
    animation: showline 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes showline {
    0% {
        height: 0;
    }

    100% {
        height: 140px;
    }
}

.vertical-line-two {
    height: 140px;
    width: 1px;
    background: #ffffff;
}

.featurelist {
    position: absolute;
    width: max-content;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    font-size: 50px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .featurelist {
        font-size: 30px;
    }
}

.feature {
    cursor: pointer;
    user-select: none;
    transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0 15px;
}

.feature:hover {
    color: #13181d;
}

.blackened {
    opacity: 0.1;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}


.underlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    width: 100px;
    height: 20px;
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.underlay.background {
    background: #fff;
    background-size: cover;
}

.footer-activator {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-line {
    position: absolute;
    bottom: 15%;
    left: 50%;
    height: 40px;
    width: 1px;
    background-color: #fff;
    transition: all 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.footer-activator:hover .footer-line {
    background-color: #13181d;
}

.footer-activator.active .footer-line {
    background-color: #ee5253;
    height: 60px;
}

.footer-line:first-child {
    transform: rotateZ(45deg) translateX(-20px);
}

.footer-line:last-child {
    transform: rotateZ(-45deg) translateX(20px);
}

.footer-activator.active .footer-line:first-child {
    transform: rotateZ(45deg) translateX(0);
}

.footer-activator.active .footer-line:last-child {
    transform: rotateZ(-45deg) translateX(0);
}

.footer-activator.active {
    transform: translate(-50%, -40vh);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    height: 0vh;
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: none;
    color: #fff;
    line-height: 4;
    cursor: default;
}

.footer a {
    color: #fff;
}

#footer.active {
    height: 40vh;
}

.footer-overlay {
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    background: none;
    top: 100vh;
}

.footer-overlay.active {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff0f;
}

.footer .logo {
    width: 30% !important;
}

.footer .line {
    width: 50%;
}

.footer .left {
    float: left;
}

.footer .right {
    float: right;
}

@media screen and (max-width: 756px) {
    #footer {
        width: 90vw;
        line-height: 1.5;
        text-align: center;
    }

    #footer.active {
        height: 35vh;
    }

    .footer .line {
        width: 100%;
    }

    .footer .logo {
        width: 50% !important;
    }
}

.first-feature,
.second-feature,
.third-feature,
.fourth-feature {
    visibility: hidden;
}

.first-feature.active,
.second-feature.active,
.third-feature.active,
.fourth-feature.active {
    visibility: visible;
}

.first-feature.closed,
.second-feature.closed,
.third-feature.closed,
.fourth-feature.closed {
    animation: drop 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    visibility: visible;
}

@keyframes drop {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.feature-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-description .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-description .content {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
    overflow: hidden;
    height: 0;
}

.feature-description .content p {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
}

.feature-description.active .content {
    animation: showcontent 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 800ms forwards;
}

@keyframes showcontent {
    0% {
        height: 0;
    }

    100% {
        height: 40%;
    }
}

.feature-description .buttons {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.feature-description .buttons a {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 5px 15px;
    font-size: 35px;
    font-weight: 100;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: pulse 750ms ease-in-out infinite alternate;
}

.feature-description .buttons a:hover {
    color: #13181d;
}

@keyframes pulse {
    100% {
        font-size: 34px;
    }

}

.feature-description .footer {
    background: none;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    z-index: 999999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.feature-description.active .footer {
    animation: showclosing 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1500ms forwards;
}

@keyframes showclosing {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.feature-description .footer .footer-close {
    height: 80px;
    width: 1px;
    background: #fff;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feature-description .footer .footer-close:first-child {
    transform: rotate(45deg);
}

.feature-description.closed .footer .footer-close:first-child {
    transform: rotate(-45deg);
}

.feature-description .footer .footer-close:last-child {
    transform: rotate(-45deg);
}

.feature-description.closed .footer .footer-close:last-child {
    transform: rotate(45deg);
}

.feature-description .footer:hover .footer-close {
    background: #ee5253;
}

.feature-overlay {
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    background: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
}

.feature-overlay.active {
    visibility: visible;
    background: #ffffff0f;
}

.inner-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 756px) {
    .main-header {
        top: 1.5em;
    }

    .feature-description .content p {
        font-size: 16px;
        line-height: 1.5;
    }

    .feature-description .header {
        transform: scale(0.5);
    }

    .fadein {
        font-size: 15px;
    }
}

.shadow {
    height: 90px;
    width: 420px;
    z-index: 0;
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 100px rgba(250,130,49,0.5);
    animation: shadowappear 1s ease 0s forwards, shadowhide 1500ms ease 2000ms forwards;
}

@keyframes shadowappear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shadowhide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 756px) {
    .shadow {
        height: 50px;
        width: 60vw;
    }
}